<div class="docs-content d-flex flex-column flex-column-fluid" id="kt_docs_content">
    <div class="container" id="kt_docs_content_container">
        <form method="post" action="/settings/add" id="add-settings">
            <div class="card mb-2 mt-5">
                <div class="card-body fs-6 py-15 px-10 py-lg-15 px-lg-15">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-5">
                                <label for="exampleFormControlInput1" class="required form-label">Input alias</label>
                                <input type="text" class="form-control form-control-solid" name="alias"
                                       id="alias"
                                       placeholder="Alias" required/>
                                <div class="form-text">
                                    Example:
                                    <code>is_active</code>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-5">
                                <label for="exampleFormControlInput1" class="form-label">Input value</label>
                                <input type="text" class="form-control form-control-solid" name="value"
                                       id="value"
                                       placeholder="Value" />
                                <div class="form-text">
                                    The field is optional
                                </div>
                            </div>
                        </div>

                        <div class="mb-1">
                            <!--begin::Label-->
                            <label class="form-label fw-bold fs-6 mb-2">New Password</label>
                            <!--end::Label-->
                            <!--begin::Input wrapper-->
                            <div class="position-relative mb-3">
                                <input class="form-control form-control-lg form-control-solid" type="text" placeholder="" name="new_password" autocomplete="off">
                                <!--begin::Visibility toggle-->
                                <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
																<i class="bi bi-eye-slash fs-2 d-none"></i>
																<i class="bi bi-eye fs-2"></i>
															</span>
                                <!--end::Visibility toggle-->
                            </div>
                            <!--end::Input wrapper-->
                            <!--begin::Highlight meter-->
                            <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
                            </div>
                            <!--end::Highlight meter-->
                        </div>

                    </div>



                    <div class="mb-5">
                        <label for="exampleFormControlInput1" class="required form-label">Short description</label>
                        <textarea type="text" class="form-control form-control-solid" name="description"
                               id="description" row="1"
                                  placeholder="Input short description.." required></textarea>
                    </div>
                    <div class="form-group mt-3 text-right">
                        <button type="submit" class="btn btn-primary" id="btn-add-alias">Save alias</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>