<div class="py-4 d-flex flex-lg-column py-6" id="kt_footer">
  <!--begin::Container-->
  <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
    <!--begin::Copyright-->

    <!--end::Menu-->
  </div>
  <!--end::Container-->
</div>