<div id="kt_docs_aside" class="docs-aside" data-kt-drawer="true" data-kt-drawer-name="aside"
     data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true"
     data-kt-drawer-width="{default:&#39;200px&#39;, &#39;300px&#39;: &#39;250px&#39;}"
     data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_docs_aside_toggle">
    <!--begin::Logo-->
    <div class="docs-aside-logo flex-column-auto h-75px" id="kt_docs_aside_logo">
        <!--begin::Link-->
        <a href="/">
            <h1>JobSpammer</h1>
        </a>
        <!--end::Link-->
    </div>
    <!--end::Logo-->
    <!--begin::Menu-->
    <div class="docs-aside-menu flex-column-fluid">
        <!--begin::Aside Menu-->
        <div class="hover-scroll-overlay-y mb-5 mb-lg-5" id="kt_docs_aside_menu_wrapper" data-kt-scroll="true"
             data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto"
             data-kt-scroll-dependencies="#kt_docs_aside_logo" data-kt-scroll-wrappers="#kt_docs_aside_menu"
             data-kt-scroll-offset="10px" style="height: 975px;">
            <!--begin::Menu-->
            {{#if user }}
            <div class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500"
                 id="#kt_docs_aside_menu" data-kt-menu="true">
                <div class="menu-item"></div>
                <div class="menu-item">
                    <a class="menu-link py-2"
                       href="/">
                        <span class="menu-title">Task list</span>
                    </a>
                </div>
                <div class="menu-item"></div>
                <div class="menu-item">
                    <a class="menu-link py-2"
                       href="/create_task">
                        <span class="menu-title">Create task</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="menu-link py-2"
                       href="/portal/index">
                        <span class="menu-title">Portals</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="menu-link py-2"
                       href="/proxy/index">
                        <span class="menu-title">Proxy</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="menu-link py-2"
                       href="/settings/index">
                        <span class="menu-title">Settings</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="menu-link py-2"
                       href="/statistics">
                        <span class="menu-title">Statistic</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="menu-link py-2"
                       href="/account/logout">
                        <span class="menu-title">Logout</span>
                    </a>
                </div>
            </div>
            {{else}}
                <div class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500"
                     id="#kt_docs_aside_menu" data-kt-menu="true">
                    <div class="menu-item"></div>
                    <div class="menu-item">
                        <a class="menu-link py-2"
                           href="/account/login">
                            <span class="menu-title">Login</span>
                        </a>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
    <!--end::Menu-->
</div>